@keyframes animation-fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(3em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes animation-fade-in-right {
	from {
		opacity: 0;
		transform: translateX(3em);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@mixin animation($name) {
  animation: animation-#{$name} $base-animation-duration ease-out both;
}