@import '~normalize-scss/sass/normalize/import-now';
@import '_fonts.scss';
@import '_colors.scss';
@import '_mixins.scss';
@import 'bourbon/bourbon';
@import '_ranking.scss';

$top-bar-height: 45px;

body {
  font-family: 'Roboto';
  background: $bg-color;
  color: $text-color;
}

.page a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: tint($primary-color, 50%);
  }
}

.top-bar {
  height: $top-bar-height;
  background: linear-gradient(240deg, $primary-color 0%, lighten($primary-color, 30%) 70%, lighten($primary-color, 40%) 100%);
  color: $bg-color;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.site-logo {
  @include text-shadow;
  font-weight: bold;
  font-size: 170%;
  margin-right: 25px;
  user-select: none;
  cursor: default;
}

.main-navigation {
  height: 100%;

  &__link {
    @include font-medium;
    color: $bg-color;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    line-height: $top-bar-height;
    padding: 0 18px;

    &--active {
      background-color: $bg-color;
      color: $text-color;
    }

    &:hover:not(&--active) {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  i {
    margin-right: 8px;
  }
}

.page {
  padding: 20px 25px;
}

.flag {
  vertical-align: -5px;
  border: 1px solid rgb(220, 220, 220);
}