@import '~normalize-scss/sass/normalize/import-now';
@import 'bourbon/bourbon';
@import 'font-awesome/font-awesome';
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'spinner';
@import 'ranking';
@import 'results';

$top-bar-height: 45px;

body {
  font-family: 'Lato';
  background: $bg-color;
  color: $text-color;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

::selection {
  background: lighten($primary-color, 50%);
}

a {
  text-decoration: none;
  color: lighten($primary-color, 22.5%);

  transition-duration: 0.2s;
  transition-property: 'background-color, color';

  &:hover {
    color: lighten($primary-color, 50%);
  }

  &:active {
    color: darken($primary-color, 10%);
  }
}

.top-bar {
  height: $top-bar-height;
  background: linear-gradient(240deg, $primary-color 0%, lighten($primary-color, 30%) 70%, lighten($primary-color, 40%) 100%);
  color: $bg-color;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.site-logo {
  @include text-shadow;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 170%;
  letter-spacing: -1px;
  margin-right: 25px;
  margin-bottom: 3px;
  user-select: none;
  cursor: default;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 180%;
  margin-bottom: 20px;
  text-align: center;
}

.main-navigation {
  height: 100%;

  &__link {
    @include font-medium;
    color: $bg-color !important;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    line-height: $top-bar-height;
    padding: 0 18px;

    &--active {
      background-color: $bg-color;
      color: $text-color !important;
    }

    &:hover:not(&--active) {
      background: rgba(255, 255, 255, 0.3);
    }

    &:active:not(&--active) {
      background: shade($primary-color, 0.3) !important;
    }
  }

  i {
    margin-right: 8px;
  }
}

.page {
  padding: 20px 25px;
  display: flex;

  &--not-found {
    @include font-medium;
    padding-top: 300px;
    justify-content: center;
    font-size: 999%;
    color: lighten($text-color, 60%);
  }
}

.flag {
  vertical-align: -3px;
  border: 1px solid rgb(220, 220, 220);
}