$panel-margin: 10px;

.view--team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-view-row {
  width: 680px;
  display: flex;
  align-items: stretch;

  &:not(:last-child) {
    margin-bottom: $panel-margin;
  }
}

.team-header {
  font-size: 260%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 0.15em;

  &__flag {
    @extend .flag;
    height: 1em;
    margin-right: 0.8rem;
  }
}

.team-stats {
  @include panel;
  flex: 0 0 230px;
  margin-left: $panel-margin;
  line-height: 1.3em;
  animation-delay: 0.15s;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: space-between;
  }

  &__matches-played {
    text-align: center;
  }

  &__matches-played-label {
    color: $color-text-secondary;
    font-size: 90%;
  }

  &__results-breakdown {
    display: flex;
    margin-top: 0.5rem;

    &--goals {
      font-size: 80%;
    }
  }

  &__results-breakdown-category {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }
  }

  &__results-breakdown-amount {
    display: flex;
  }

  &__results-breakdown-label {
    color: $color-text-secondary;
    font-size: 80%;
  }

  &__results-breakdown-percentage {
    color: $color-text-secondary;
    display: flex;
    margin-left: 0.3em;
  }

  &__goals-breakdown {
  }

  &__goals-breakdown-category {
    display: flex;
    justify-content: space-between;
  }

  &__goals-breakdown-label {
    color: $color-text-secondary;
    font-size: 90%;
    margin-right: 0.3em;
  }

  &__goals-breakdown-amount {
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-label {
    color: $color-text-secondary;
    font-size: 90%;
  }

  &__form-value {
    display: flex;
    align-items: center;
  }

  &__form-value-entry {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: $color-panel-bg;
    margin-left: 2px;
    border-radius: 2px;
    font-size: 1em;

    $maxSize: 18px;
    $sizeStep: 2px;
    @for $i from 0 through 4 {
      $idx: $i + 1;
      &:nth-last-child(#{$idx}) {
        $size: $maxSize - ($i * $sizeStep);
        width: $size;
        height: $size;
        line-height: $size;
        font-size: $size - 5px;
      }
    }

    &--win {
      background: $color-positive;
      &:after {
        content: "W";
      }
    }
    &--draw {
      background: $color-neutral;
      &:after {
        content: "D";
      }
    }
    &--loss {
      background: $color-negative;
      &:after {
        content: "L";
      }
    }
  }
}

.team-records {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;

    &:first-child {
      border-bottom: 1px solid $color-border;

    }
  }

  &__criterion, &__criterion-label {
    display: flex;
    flex: 1 0 0;
    justify-content: center;

    &:first-child {
      border-right: 1px solid $color-border;
    }
  }

  $padding: 0.3em;

  &__criterion-label {
    padding-bottom: $padding;
    color: $color-text-secondary;
    font-weight: bold;
  }

  &__criterion {
    display: flex;
  }

  &__record {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    padding: $padding 0;

    &:first-child {
      background: rgba(lighten($color-positive, 30%), 0.1);
    }
    &:last-child {
      background: rgba(lighten($color-negative, 30%), 0.1);
    }

    a {
      cursor: pointer;
    }
  }

  &__record-label {
    font-size: 80%;
    color: $color-text-secondary;
    margin-right: 6px;
  }
}

.team-record-details-modal {
  &__value, &__length {
    font-weight: bold;
  }

  &__period-list {
    list-style-type: none;
    text-align: center;
    margin: 0.4rem 0 0 0;
    padding: 0;
    line-height: 1.4em;
  }
}

.team-ranking-excerpt {
  @include panel;
  flex: 1 0 0;

  .ranking {
    font-size: 90%;
    width: 100% !important;
    box-shadow: none !important;

    .ranking-row__cell {
      height: 30px !important;
    }

    .ranking-header {
      background: $color-panel-bg !important;
      color: $color-text-secondary;
      border-bottom: 1px solid $color-border !important;
    }
  }
}

.team-ranking-history {
  @include panel;
  width: 100%;
  animation-delay: 0.3s;
}

.team-notable-matches {
  @include panel;
  width: 100%;
  animation-delay: 0.45s;

  &__top-group {
    display: flex;
    align-items: flex-start;
  }

  &__see-all-link {
    display: flex;
    margin-left: auto;
  }

  &__see-all-link-icon {
    position: relative;
    bottom: -2px;
    margin-left: 0.1em;
    margin-right: -5px;
    font-size: 115%;
  }

  &__category {
    padding: 0.5rem 0;

    &:nth-child(2) {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__category-header {
    margin-bottom: 0.4rem;
    text-align: center;
    color: $color-text-secondary;
    font-weight: bold;
  }
}