$page-button-size: 1.7em;

.results-page-picker {
  margin: 0;
  padding: 0;
  list-style-type: none; 
  text-align: center;
  color: $color-text-secondary;
  position: relative;
  flex: 0 1 1;
  left: 50%;
  transform: translateX(-50%);

  > li {
    height: $page-button-size;
    width: $page-button-size;
    display: inline-block;

    &.active {
      > a {
        cursor: default;
        background: $color-primary;
        color: $color-panel-bg;
      }
    }

    &:not(.active):not(.disabled) {
      > a {
        &:hover {
          background: $color-border;
          cursor: pointer;
          color: $color-primary !important;
        }
      }
    }

    > a {
      height: 100%;
      line-height: $page-button-size;
      display: block;
    }

    &.disabled {
      > a {
        color: $color-border !important;
      }
    }
  }
}