@import 'page-picker';

.view--results {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result-list {
  @include panel-shadow;
  padding: 1em;
  background: $color-panel-bg;
  width: 40em;
  margin: 0 auto;
  @include animation(fade-in-bottom);

  a {
    cursor: pointer;
  }

  img {
    align-self: center;
  }
}

.result-list-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--top {
    margin: 0 0 1.2em 0;
  }

  &--bottom {
    margin: 1.2em 0 0 0;
  }
}

.page-navigation-link {
  cursor: pointer;
  font-size: 80%;
  color: $color-primary;

  &__icon {
    margin-left: 0.1em;
  }
}

.result {
  display: flex;
  flex-direction: column;
  padding: 0.6em;
  transition-duration: $base-transition-duration;
  @include animation(fade-in-bottom);

  &:hover {
    background: $color-bg;
  }

  &:not(:last-child) {
    margin-bottom: 0.3em;
  }
}

.result__row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--details {
    margin-bottom: 0.6em;
  }

  &--main {
    margin-bottom: 0.1em;
  }

  &--secondary {
    display: flex;
  }
}

.result__team {
  @include font-medium;
  display: flex;
  flex: 1 0 0;

  &--left {
    flex-direction: row-reverse;

    .result__team-flag {
      margin-left: 0.3em;
    }
  }

  &--right {
    text-align: left;

    .result__team-flag {
      margin-right: 0.3em;
    }
  }

  &--winner {
    .result__team-name {
      border-bottom: 2px solid $color-secondary;
    }
  }
}

.result__score {
  @include font-medium;
  flex: 0 0 3em;
  text-align: center;
}

.result__score-extra {
  font-size: 80%;
  color: $color-text-secondary;
}

.result__rank,
.result__rating {
  @include font-medium;
  font-size: 80%;
  padding: 2px 3px;
  align-self: flex-start;
}

.result__rating {
  background: $color-border;
  color: $color-text-secondary;
}

.result__rank {
  background: $color-text-secondary;
  color: $color-panel-bg;
}


.result__ranking-change {
  flex: 1 0 0;
  display: flex;
  font-size: 80%;

  &--right {
    flex-direction: row-reverse;
  }
}

.result__rating-change {
  &--positive {
    color: $color-positive;

    &:before {
      content: '+';
    }
  }

  &--neutral {
    color: $color-text-secondary;

    &:before {
      content: '±';
    }
  }

  &--negative {
    color: $color-negative;
  }
}

.result__detail {
  flex: 1 0 0;
  font-size: 80%;
  color: $color-text-secondary;

  &--venue {
    text-align: center;
  }

  &--type {
    text-align: right;
  }
}