@import 'pagination';

.page--results {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 40em;
  flex-direction: column;
}

.result-list {
  @include panel-shadow;
  margin: 1em 0;
  padding: 1em;
  background: $color-panel-bg;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 0.6em;

  &:hover {
    background: $color-bg;
    .result__ranking-info {
      display: flex;
    }
  }

  &:not(:last-child) {
  }
}

.result__row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--details {
    margin-bottom: 0.6em;
  }

  &--main {
    margin-bottom: 0.3em;
  }
}

.result__team {
  @include font-medium;
  display: flex;
  flex: 1 0 0;

  &--left {
    flex-direction: row-reverse;

    .result__team-flag {
      margin-left: 0.3em;
    }
  }

  &--right {
    text-align: left;

    .result__team-flag {
      margin-right: 0.3em;
    }
  }

  &--winner {
    .result__team-name {
      border-bottom: 2px solid $color-secondary;
    }
  }
}

.result__score {
  @include font-medium;
}

.result__score,
.result__score-extra {
  flex: 0 0 3em;
  text-align: center;
}

.result__ranking-info {
  flex: 0 0 0;
  display: none;
  font-size: 80%;

  &--left {
  }

  &--right {
    flex-direction: row-reverse;
  }
}

.result__rating {
  @include font-regular;
  font-size: 80%;
  background: $color-bg;
  padding: 0.1em 0.2em;
  align-self: flex-start;
}

.result__rank {
  @include font-regular;
  font-size: 80%;
  background: $color-text-secondary;
  padding: 0.1em 0.2em;
  color: $color-panel-bg;
  align-self: flex-start;
}

.result__rating-change {
  // margin-left: 0.25em;
  // padding: 0.1em 0.2em;
  // background: $color-border;

  &--positive {
    color: $color-positive;

    &:before {
      content: '+';
    }
  }

  &--neutral {
    color: $color-text-secondary;

    &:before {
      content: '±';
    }
  }

  &--negative {
    color: $color-negative;
  }
}

.result__detail {
  flex: 1 0 0;
  font-size: 80%;
  color: $color-text-secondary;

  &--venue {
    text-align: center;
  }

  &--type {
    text-align: right;
  }
}