body {
    background-color: #22313F;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.top-bar {
    background-color: #FFFFFF;
}

header {
    font-weight: bold !important;
}

header > a {
    color: #22313F;
}

nav li.active {
    font-weight: bold;
}

textarea, input, select {
    color: #000000;
}

textarea {
}

ul {
    margin-bottom: 0;
}

.logout {
    color: #A94442;
}

.bg-danger {
    color: #A94442;
    line-height: 23px;
    padding: 6px 10px;
    margin-bottom: 8px;
}

.bg-success {
    color: #3C763D;
    line-height: 23px;
    padding: 6px 10px;
}

.bg-info {
    color: #31708F;
    line-height: 23px;
    padding: 6px 10px;
}

form {
    margin-bottom: 15px;
}

.error-header {
    display: block;
}

.table {
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #182030;
    padding: 10px;
}

td {
    vertical-align: middle;
}

.content {
    padding: 0 10px;
}

.btn-lg {
    margin-right: 8px;
}
