$section-margin: 1.5rem;

.view--team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-header {
  font-size: 250%;
  margin-bottom: 1rem;
  display: flex;

  &__flag {
    @extend .flag;
    height: 1em;
    margin-right: 0.5rem;
  }
}

.team-stats {
  @include panel-shadow;
  padding: 1em;
  background: $color-panel-bg;
  width: 20em;
  // margin: 0 auto;
  @include animation(fade-in-bottom);

  &__header {
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 1rem;
  }

  &__matches-played {
    text-align: center;
  }

  &__matches-played-label {
    color: $color-text-secondary;
    font-size: 90%;
  }

  &__results-breakdown {
    display: flex;
    margin-top: 0.5rem;

    &--goals {
      font-size: 80%;
    }
  }

  &__results-breakdown-category {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }
  }

  &__results-breakdown-amount {
    display: flex;
  }

  &__results-breakdown-label {
    color: $color-text-secondary;
    font-size: 80%;
  }

  &__results-breakdown-percentage {
    color: $color-text-secondary;
    display: flex;
    margin-left: 0.3em;
  }

  &__goals-breakdown {
    margin-top: $section-margin;
  }

  &__goals-breakdown-category {
    display: flex;
    justify-content: space-between;
  }

  &__goals-breakdown-label {
    color: $color-text-secondary;
    font-size: 90%;
    margin-right: 0.3em;
  }

  &__goals-breakdown-amount {
  }

  &__form {
    margin-top: $section-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-label {
    color: $color-text-secondary;
    font-size: 90%;
  }

  &__form-value {
    display: flex;
    align-items: center;
  }

  &__form-value-entry {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: $color-panel-bg;
    margin-left: 0.3em;
    border-radius: 2px;
    font-size: 1em;

    $maxSize: 1.3em;
    $sizeStep: 0.15em;
    @for $i from 0 through 4 {
      $idx: 5 - $i;
      &:nth-child(#{$idx}) {
        $size: $maxSize - ($i * $sizeStep);
        width: $size;
        height: $size;
      }
    }

    &--win {
      background: $color-positive;
    }
    &--draw {
      background: $color-neutral;
    }
    &--loss {
      background: $color-negative;
    }
  }

  &__records {
    width: 100%;
    border-collapse: collapse;
    margin-top: $section-margin;

    th, td {
      border: 1px solid $color-border;
      font-weight: normal;
      padding: 0.3em;
    }

    th {
      border-top: none;
    }

    th, td:first-child {
      font-size: 90%;
      color: $color-text-secondary;
    }

    th:first-child, td:first-child {
      border-left: none;
    }

    th:last-child, td:last-child {
      border-right: none;
    }

    tr:last-child > td {
      border-bottom: none;
    }

    td:not(:first-child) {
      text-align: center;
    }
  }
}