body {
    background-color: #22313F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 600px;
}

.login-form {
    padding: 10px;
    margin: 0 auto;
    max-width: 300px;
}

.login-form > #username, .login-form > #password {
    height: auto;
    padding: 10px;
    font-size: 14pt;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 1px;
}

.login-form > button {
    width: 100%;
    border-radius: 0;
}

p {
    width: 100%;
}

.bg-danger, .bg-success {
    padding: 6px 10px;
    margin-bottom: 8px;
}

