body {
  font-family: 'Lato';
  background: $color-bg;
  color: $color-text;
  letter-spacing: -0.01em;
}

::selection {
  background: $color-secondary;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition-duration: $base-transition-duration;
  transition-property: background-color, color;

  &:hover {
    color: $color-secondary;
  }
}

.view {
  padding: 1em 0;
  display: flex;
  position: absolute;
  width: 100%;
}

.flag {
  vertical-align: -3px;
  border: 1px solid rgba($color-text, 0.1);
}

input:focus, select:focus {
  @include focus-outline;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.ReactModal {
  &__Body--open {
    overflow: hidden;
  }

  &__Overlay {
    background: rgba(0, 0, 0, 0.75) !important;
    @include animation(fade-in);
    animation-duration: 0.2s !important;
  }

  &__Content {
    display: inline-block !important;
    position: fixed !important;
    top: 50% !important;
    bottom: auto !important;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, -50%);
    border: none !important;
    border-radius: 0 !important;
    padding: 1em !important;
    background: $color-panel-bg !important;
    @include animation(fade-in);
    animation-delay: 0.2s;
    @include panel-shadow;
  }
}

.modal-close-instruction {
  margin-top: 1.5rem;
  text-align: center;
  color: $color-text-secondary;
  font-size: 90%;
}

.modal-header {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 115%;
  text-align: center;
}