@import 'datepicker';

.page--ranking {
  justify-content: center;
  flex-direction: column;
}

.ranking {
  @include panel-shadow;
  width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  background: $color-panel-bg;

  &--full {
    width: 700px;
  }
}

.ranking-header {
  background: $color-primary;
  color: $color-panel-bg;
  font-size: 80%;

  &__cell {
    padding: 6px 0;

    &--team {
      min-width: 220px;
      text-align: left;
    }
    &--rank {
      text-align: right;
      width: 45px;
    }
    &--rating {
      padding-right: 15px;
      text-align: center;
    }
    &--total {
      padding-right: 15px;
    }
    &--losses {
      padding-right: 15px;
    }
    &--goal-difference {
      padding-right: 15px;
    }

    &--goals-for,
    &--goals-against,
    &--goal-difference {
      min-width: 40px;
    }

    &--total,
    &--wins,
    &--draws,
    &--losses,
    &--goals-for,
    &--goals-against,
    &--goal-difference {
      text-align: right;
    }
  }
}

.ranking-row {
  font-size: 80%;

  &:hover {
    background: $color-bg;
  }

  &__cell {
    height: 33px;
    text-align: center;

    &--rank-one-year-change {
      width: 65px;
    }
    &--team {
      text-align: left;
    }
    &--rating {
      padding-right: 15px;
    }
    &--total {
      padding-right: 15px;
    }
    &--goal-difference {
      padding-right: 15px;
    }

    &--rank {
      font-size: 115%;
      text-align: right;
    }
    &--team-flag {
      padding: 0 4px 0 0;
    }
    &--team-name {
      @include font-medium;
      text-align: left;
      font-size: 130%;
    }
    &--rating {
      @include font-medium;
      font-size: 130%;
      text-align: center;
    }
    &--wins, &--draws, &--losses {
      width: 35px;
    }
    &--losses {
      padding-right: 15px;
    }
    &--total,
    &--wins,
    &--draws,
    &--losses,
    &--goals-for,
    &--goals-against,
    &--goal-difference {
      color: $color-text-secondary;
      text-align: right;
    }
  }
}

.rank-change {
  @include font-medium;
  vertical-align: -2px;

  &--positive {
    color: $color-positive;
  }

  &--negative {
    color: $color-negative;
  }

  i {
    margin-right: 2px;
  }
}

.goal-difference {
  &--positive {
    color: $color-positive;
  }

  &--negative {
    color: $color-negative;
  }
}

.new-ranking-entry-indicator {
  @include font-bold;
  font-size: 90%;
  text-transform: uppercase;
  color: $color-bg;
  background: rgb(255, 160, 25);
  padding: 3px 5px;
  border-radius: 2px;
  vertical-align: -2px;
}