@import 'datepicker';

.page--ranking {
  justify-content: center;
  flex-direction: column;
}

.ranking {
  @include panel-shadow;
  width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  background: $color-panel-bg;

  &--full {
    width: 700px;
  }
}

.ranking-header {
  background: $color-primary;
  color: $color-panel-bg;
  font-size: 80%;

  &__cell {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.ranking-header, .ranking-row {
  &__cell {
    &--rank {
      text-align: right;
      width: 40px;
    }
    &--rank-one-year-change {
      width: 60px;
      text-align: center;
    }
    &--team {
      min-width: 220px;
      text-align: left;
    }

    &--rating,
    &--total {
      padding-right: 15px;
      padding-left: 15px;
      text-align: right;
    }

    &--wins, 
    &--draws, 
    &--losses {
      width: 40px;
      text-align: right;
    }

    &--losses {
      padding-right: 15px;
    }

    &--goals-for,
    &--goals-against,
    &--goal-difference {
      width: 40px;
      text-align: right;
    }
    &--goal-difference {
      padding-right: 15px;
    }
  }
}

.ranking-row {
  font-size: 80%;

  &:hover {
    background: $color-bg;
    transition-duration: 0.2s;
  }

  &__cell {
    height: 33px;

    &--rank {
      font-size: 115%;
    }

    &--team-flag {
      padding: 0 5px 0 0;
      text-align: right;
    }

    &--team-name {
      @include font-medium;
      font-size: 130%;
    }

    &--rating {
      @include font-medium;
      font-size: 130%;
    }

    &--total,
    &--wins,
    &--draws,
    &--losses,
    &--goals-for,
    &--goals-against,
    &--goal-difference {
      color: $color-text-secondary;
    }
  }
}

.rank-change {
  @include font-medium;
  vertical-align: -2px;

  &--positive {
    color: $color-positive;
  }

  &--negative {
    color: $color-negative;
  }

  i {
    margin-right: 2px;
  }
}

.goal-difference {
  &--positive {
    color: $color-positive;
  }

  &--negative {
    color: $color-negative;
  }
}

.new-ranking-entry-indicator {
  @include font-bold;
  font-size: 90%;
  text-transform: uppercase;
  color: $color-text-secondary;
  background: $color-secondary;
  padding: 3px 5px;
  border-radius: 2px;
  vertical-align: -2px;
}