body {
  font-family: 'Lato';
  background: $color-bg;
  color: $color-text;
  letter-spacing: -0.01em;
}

::selection {
  background: $color-secondary;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition-duration: $base-transition-duration;
  transition-property: background-color, color;

  &:hover {
    color: $color-secondary;
  }
}

.view {
  padding: 1em 0;
  display: flex;
  position: absolute;
  width: 100%;
}

.flag {
  vertical-align: -3px;
  border: 1px solid rgba($color-text, 0.1);
}
