<div id="landing-container" ng-controller="LandingCtrl">
  <p>
    <h2>Hi!</h2>
    Welcome! This website provides <a href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo ratings</a>
    of national football teams using match data spanning from 30 November 1872, when the
    <a href="results/1872">first international football match</a> took place, up to
    <del>this day</del> (not yet!).
  </p>
  <p>
    <h2>We are in beta...</h2>
    The website is in early beta stage (it does not even have a proper name yet!). Currently, we
    have match data available from 30/11/1872 to
    <strong>{{latestMatchDate}}</strong>. The missing match data will be added in the near future,
    along with many new features and bug-fixes.
  </p>
  <p>
    <h2>...but we are launching soon!</h2>
    We are planning to launch in early 2015. Meanwhile you can check out some websites from which
    we took inspiration: <a href="http://clubelo.com">clubelo.com</a> and
    <a href="http://eloratings.net">eloratings.net</a>.
  </p>
  <p>
    <h2>For programmers</h2>
    The underlying web application is completely free and is licensed under
    <a href="http://www.gnu.org/copyleft/gpl.html">The GNU General Public License</a>.
    The source code is hosted in our <a href="https://github.com/fauu/natrank">github repository</a>.
  </p>
</div>
