@mixin font-regular {
  font-weight: 400;
}
@mixin font-medium {
  font-weight: 700;
}
@mixin font-bold {
  font-weight: 900;
}

@mixin icon($name) {
  font: normal normal normal 1em/1 "Material Design Icons";
  content: mdi($name);
}

@mixin input {
  font-family: 'Lato';
  background: $color-panel-bg;
  border: 1px solid $color-border;
  color: $color-text;
}

@mixin focus-outline {
  outline: 2px solid $color-primary;
}

@mixin error-outline {
  outline: 2px solid $color-negative;
}

@mixin panel-shadow {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}

@mixin panel {
  @include panel-shadow;
  @include animation(fade-in-bottom);
  padding: 0.8em 1em;
  background: $color-panel-bg;

  &__header {
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 1rem;
  }

  &__sub-header {
    font-weight: bold;
    flex: 1 0 0;
    text-align: center;
    margin: 0.5rem 0;
  }

  &__section {
    &:not(:first-child) {
      margin-top: 0.7rem;
    }
  }
}
