@import 'page-picker';

.view--results {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result-list-panel {
  @include panel-shadow;
  padding: 1em;
  background: $color-panel-bg;
  width: 40em;
  margin: 0 auto;
  @include animation(fade-in-bottom);

  a {
    cursor: pointer;
  }

  img {
    align-self: center;
  }
}

.result-list-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.8em;

  &--top {
    margin: 0 0 1.2em 0;
  }

  &--bottom {
    margin: 1.2em 0 0 0;
  }
}

.page-navigation-link {
  cursor: pointer;
  font-size: 80%;
  color: $color-primary;
  position: relative;
  right: 0;

  &__icon {
    margin-left: 0.1em;
  }
}

.results-year-filter {
  input {
    width: 4em;
  }
}

.result {
  display: flex;
  flex-direction: column;
  padding: 0.6em;
  transition-duration: $base-transition-duration;
  @include animation(fade-in-bottom);

  &:hover {
    background: $color-bg;
  }

  &:not(:last-child) {
    margin-bottom: 0.2em;
  }

  &--pov-team-won {
    border-left: 2px solid $color-positive;
  }
  &--pov-team-drawn {
    border-left: 2px solid $color-border;
  }
  &--pov-team-lost {
    border-left: 2px solid $color-negative;
  }
}

.result__row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--details {
    margin-bottom: 0.6em;
  }

  &--main {
    margin-bottom: 0.1em;
  }

  &--secondary {
    display: flex;
  }
}

.result__team {
  @include font-medium;
  display: flex;
  flex: 1 0 0;
  align-items: center;

  &--left {
    flex-direction: row-reverse;

    .result__team-flag {
      margin-left: 0.3em;
    }
  }

  &--right {
    text-align: left;

    .result__team-flag {
      margin-right: 0.3em;
    }
  }

  &--winner {
    .result__team-name {
      border-bottom: 2px solid $color-secondary;
    }
  }
}

.result__score {
  @include font-medium;
  flex: 0 0 3em;
  text-align: center;
}

.result__score-extra {
  font-size: 80%;
  color: $color-text-secondary;
}

.result__rank,
.result__rating {
  @include font-medium;
  font-size: 80%;
  padding: 2px 3px;
  align-self: flex-start;
}

.result__rating {
  background: $color-border;
  color: $color-text-secondary;
}

.result__rank {
  background: $color-text-secondary;
  color: $color-panel-bg;
}


.result__ranking-change {
  flex: 1 0 0;
  display: flex;
  font-size: 80%;

  &--right {
    flex-direction: row-reverse;
  }
}

.result__rating-change {

  color: $color-text-secondary;
  &--positive {
    // color: $color-positive;

    &:before {
      content: '+';
    }
  }

  &--neutral {
    // color: $color-text-secondary;

    &:before {
      content: '±';
    }
  }

  &--negative {
    // color: $color-negative;
  }
}

.result__detail {
  flex: 1 0 0;
  font-size: 80%;
  color: $color-text-secondary;

  &--venue {
    text-align: center;
  }

  &--type {
    text-align: right;
  }
}

.results-year-filter {
  &__input-container {
    display: inline-flex;
    background: $color-panel-bg;
    border: 1px solid $color-border;
    height: 1.7em;
    align-items: center;
    width: 3.5em;
    padding: 0.1em 0.4em;
    justify-content: space-between;

    &--focused {
      @include focus-outline;
    }

    &--invalid {
      @include error-outline;
    }
  }

  &__input {
    @include input;
    border: none;
    background: transparent;
    width: 2.4em !important;

    &:focus {
      outline: none;
    }
  }

  &__clear-button {
    font-size: 80% !important;
    color: $color-text-secondary;
    cursor: pointer;
    padding-top: 0.1em;
  }
}