@mixin panel-shadow {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}

@mixin font-regular {
  font-weight: 400;
}
@mixin font-medium {
  font-weight: 700;
}
@mixin font-bold {
  font-weight: 900;
}

@mixin icon($name) {
  font: normal normal normal 1em/1 "Material Design Icons";
  content: mdi($name);
}

@mixin input {
  font-family: 'Lato';
  background: $color-panel-bg;
  border: 1px solid $color-border;
  color: $color-text;
}

@mixin focus-outline {
  outline: 2px solid $color-primary;
}